:host {
  display: flex;
  flex-direction: column;
  width: 500px;
  
  @media screen and (1px <= width <= 480px) {
    & {
      width: 80vw;
      height: 70vh;;
    }
  }

  .form-container {
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 32px;

    @media screen and (1px <= width <= 480px) {
      & {
        flex-direction: column;
        padding: 12px;
        align-items: stretch;
      }
    }

    .upper-row {
      display: flex;
      flex-direction: row;

      @media screen and (1px <= width <= 480px) {
        & {
          flex-direction: column;
        }
      }
    }

    .title {
      margin: 6px 0 28px;
    }

    .textarea-field {
      flex-grow: 1;

      @media screen and (1px <= width <= 480px) {
        & {
          min-height: 30vh;
        }
      }
    }

    .score-field {
      align-items: center;
      display: flex;
      justify-content: center;
      padding-bottom: 18px;
    }
  }

  .custom-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input-fields {
    margin: 6px 0;
    width: 100%;
  }
}
