# don't ever lint node_modules
node_modules
frontend/node_modules

# don't lint generated output
dist
frontend/dist

# don't lint "precompiled" vendor files
frontend/vendor
frontend/@types

# don't lint raw script files
frontend/src/assets/**/*.js
