:host {
  display: block;
  height: 100%;

  .navbar-icon {
    margin-right: 12px;
  }

  .home-footer {
    align-items: center;
    background: #C9ADA7CC;
    color: #22223B;
    border-top: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    height: 80px;

    .timetable-title {
      margin-left: 18px;
      font-weight: 600;
      text-decoration: underline;
    }

    .timetable-section {
      display: flex;
      flex-flow: wrap;
      flex-direction: column;
      flex-grow: 1;
      margin: 0 16px;
      max-height: 80px;

      .timetable-item {
        margin: 0;
      }
    }

    .contact-section {
      display: flex;
      flex-direction: column;
      margin: 0 16px;

      .contact-item {
        align-items: center;
        display: flex;
        margin: 3px 0;
      }
    }
  }
}
