:host {
  display: block;
  background-color: #f2e9e4;

  .navbar-container {
    background-color: #c9ada7cc;
  }

  .navbar-icon {
    margin-right: 12px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 48px - 80px);
  }

  .home-footer {
    align-items: center;
    background: #c9ada7cc;
    color: #22223b;
    border-top: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    height: 80px;

    .timetable-title {
      margin-left: 18px;
      font-weight: 600;
      text-decoration: underline;
    }

    .timetable-section {
      display: flex;
      flex-flow: wrap;
      flex-direction: column;
      flex-grow: 1;
      margin: 0 16px;
      max-height: 80px;

      .timetable-item {
        margin: 0;
      }
    }

    .contact-section {
      display: flex;
      flex-direction: column;
      margin: 0 16px;

      .contact-item {
        align-items: center;
        display: flex;
        margin: 3px 0;
      }
    }

    @media screen and (1px <= width <= 480px) {
      & {
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 12px 20px;

        .contact-section {
          margin-top: 3px;
          
          .contact-item {
            margin: 0;
          }
        }
      }
    }
  }
}
