<ng-template [ngIf]="car">
  <div class="header">
    <h2 mat-dialog-title>Annonce n°{{ data.id }}</h2>
    <button *ngIf="data.isManagement" mat-icon-button class="delete-btn" (click)="deleteCar()"><mat-icon>delete</mat-icon></button>
    <button *ngIf="data.isManagement" mat-icon-button class="edit-btn" (click)="updateCar()"><mat-icon>edit</mat-icon></button>
  </div>
  <mat-dialog-content class="mat-typography custom-modal-content">
    <div class="picture-container">
      <img class="main-picture mat-elevation-z4" [src]="mainPicture" alt="image de la voiture" />
      <div class="other-pictures-container">
        <img
          *ngFor="let src of pictures"
          (click)="mainPicture = src"
          role="button"
          aria-disabled="true"
          (keypress)="mainPicture = src"
          [src]="src"
          alt="images alternative de la voiture"
          class="mat-elevation-z4 small-pictures"
        />
      </div>
    </div>
    <div class="car-detail-container">
      <h2 style="margin-bottom: 6px">Caractéristiques de la voiture</h2>
      <div class="grid-layout">
        <div class="grid-item left" style="grid-column: 1; grid-row: 1">Marque</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 1">{{ car.brand }}</div>
        <div class="grid-item left" style="grid-column: 1; grid-row: 2">Modèle</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 2">{{ car.model }}</div>
        <div class="grid-item left" style="grid-column: 1; grid-row: 3">Prix</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 3">{{ car.price }}€</div>
        <div class="grid-item left" style="grid-column: 1; grid-row: 4">Mise en circulation</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 4">{{ car.firstCirculationDate | date : 'MM/yyyy' }}</div>
        <div class="grid-item left" style="grid-column: 1; grid-row: 5">Kilométrage</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 5">{{ car.mileage }}</div>
        <div class="grid-item left" style="grid-column: 1; grid-row: 6">Type de moteur</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 6">{{ energyTypeMapping[car.energy] }}</div>
        <div class="grid-item left" style="grid-column: 1; grid-row: 7">Type de boîte</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 7">{{ gearBoxMapping[car.gearBox] }}</div>
        <div class="grid-item left" style="grid-column: 1; grid-row: 8">Couleur carrosserie</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 8">{{ car.outsideColor }}</div>
        <div class="grid-item left" style="grid-column: 1; grid-row: 9">Couleur sellerie</div>
        <div class="grid-item right" style="grid-column: 2; grid-row: 9">{{ car.insideColor }}</div>
      </div>
      <h2 style="margin: 20px 0 6px">Options de la voiture</h2>
      <div class="grid-layout"></div>
    </div>
  </mat-dialog-content>
</ng-template>

<mat-dialog-actions [align]="'end'">
  <button mat-flat-button mat-dialog-close>Fermer</button>
  <button mat-flat-button color="primary" (click)="contact()">Nous contacter</button>
</mat-dialog-actions>
