:host {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
  width: 100%;
  min-height: 79vh;
  height: 100%;

  .header {
    display: flex;
    align-items: center;

    .edit-btn {
      margin-right: 24px;
    }

    .delete-btn {
      margin-left: auto;
      color: red;
      margin-right: 12px;
    }
  }

  .custom-modal-content {
    display: flex;
    flex-direction: row;

    @media screen and (1px <= width <= 480px) {
      & {
        flex-direction: column;
      }
    }

    .picture-container {
      flex-grow: 1;
      max-width: 50%;
      padding: 6px;

      @media screen and (1px <= width <= 480px) {
        & {
          max-width: 100%;
        }
      }

      .main-picture {
        width: 100%;
        border-radius: 3px;
        object-fit: cover;
      }

      .other-pictures-container {
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        justify-content: space-evenly;

        .small-pictures {
          width: 45%;
          padding: 3px;
          cursor: pointer;
        }
      }
    }

    .car-detail-container {
      display: flex;
      max-width: 50%;
      flex-grow: 1;
      padding: 6px;
      flex-direction: column;
      color: rgb(0 0 0 / 80%);

      @media screen and (1px <= width <= 480px) {
        & {
          max-width: 100%;
        }
      }

      .grid-layout {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(9, 30px);
        border: 1px solid #4a4e69;

        .grid-item {
          padding: 3px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;

          &.left {
            font-weight: 500;
            color: rgb(0 0 0 / 80%);
            padding-left: 12px;
          }

          &.right {
            color: rgb(0 0 0 / 60%);
          }
        }
      }
    }
  }
}
