<div class="presentation-block heading-block">
  <div class="left-side">
    <img src="assets/logo/logo.svg" alt="logo v parrot" class="home-pictures" />
  </div>
  <div class="right-side main-side">
    <h1 class="main-title">Garage Vincent Parrot</h1>
  </div>
</div>

<div class="presentation-block">
  <div class="left-side main-side">
    <h1>Trouvez votre nouvelle voiture</h1>
    <h4>Achat, reprise, financement</h4>
    <a mat-raised-button [routerLink]="'/offers'">Tous nos véhicules</a>
  </div>
  <div class="right-side">
    <img src="assets/pictures/vente.jpg" alt="vente voiture" class="home-pictures" />
  </div>
</div>

<div class="presentation-block">
  <div class="left-side">
    <img src="assets/pictures/repair.jpg" alt="vente voiture" class="home-pictures" />
  </div>
  <div class="right-side main-side">
    <h1>Prennez soin de votre véhicule avec nous</h1>
    <p style="margin: 0">Services de réparation et d'entretien</p>
    <p style="margin: 0">Services de diagnostic</p>
    <p style="margin: 0">Services de carrosserie et de peinture</p>
    <p style="margin: 0">Services administratifs</p>
    <a mat-raised-button [routerLink]="'/services'">Tous les services</a>
  </div>
</div>

<mat-divider></mat-divider>

<div class="presentation-block">
  <div class="left-side main-side">
    <h1>Trouvez votre nouvelle voiture</h1>
    <h4>Achat, reprise, financement</h4>
    <a mat-raised-button [routerLink]="'/offers'">Tous nos véhicules</a>
  </div>
  <div class="right-side">
    <img src="assets/pictures/vente.jpeg" alt="vente voiture" class="home-pictures" />
  </div>
</div>
