<!-- PHONE VERSION -->
<ng-template [ngIf]="isXSmallBp">
  <img src="assets/logo/image.png" alt="logo v parrot" class="home-pictures" />

  <img src="assets/pictures/vente.jpg" alt="vente voiture" class="home-pictures img-vente" />
  <div class="text-bloc">
    <h1 class="big-title">Trouvez votre nouvelle voiture</h1>
    <h4>Achat, reprise, financement</h4>
    <a mat-raised-button [routerLink]="'/offers'">Tous nos véhicules</a>
  </div>

  <mat-divider></mat-divider>

  <img src="assets/pictures/repair.jpg" alt="vente voiture" class="home-pictures img-vente" />

  <div class="text-bloc">
    <h1 class="big-title">Prennez soin de votre véhicule avec nous</h1>
    <p style="margin: 0">Services de réparation et d'entretien</p>
    <p style="margin: 0">Services de diagnostic</p>
    <p style="margin: 0">Services de carrosserie et de peinture</p>
    <p style="margin: 0">Services administratifs</p>
    <a style="margin-top: 18px" mat-raised-button [routerLink]="'/services'">Tous les services</a>
  </div>

  <mat-divider></mat-divider>

  <div class="global-review">
    <h1 class="big-title">Nos clients témoignent</h1>
    <app-score [score]="reviewStats.averageScore" [fontSize]="36" class="global-score" />
    <span class="global-total"> {{ reviewStats.averageScore }}/5 sur {{ reviewStats.amount }} avis</span>
  </div>
  <div class="container" *ngFor="let review of lastReviews">
    <div class="heading">
      <span class="title">{{ review.name }} ({{ review.createdAt | date : 'fullDate' }})</span>
      <app-score [score]="review.score" [fontSize]="14" class="score"></app-score>
    </div>
    <div class="mat-elevation-z4 comment">{{ review.comment }}</div>
  </div>
  <button mat-raised-button class="review-button" (click)="createReview()">Laisser un avis</button>
</ng-template>

<!-- DESKTOP VERSION -->
<ng-template [ngIf]="!isXSmallBp">
  <div class="presentation-block heading-block">
    <div class="left-side">
      <img src="assets/logo/image.png" alt="logo v parrot" class="home-pictures" />
    </div>
    <div class="right-side main-side">
      <h1 class="main-title">Garage Vincent Parrot</h1>
    </div>
  </div>

  <div class="presentation-block">
    <div class="left-side main-side">
      <h1>Trouvez votre nouvelle voiture</h1>
      <h4>Achat, reprise, financement</h4>
      <a mat-raised-button [routerLink]="'/offers'">Tous nos véhicules</a>
    </div>
    <div class="right-side">
      <img src="assets/pictures/vente.jpg" alt="vente voiture" class="home-pictures" />
    </div>
  </div>

  <div class="presentation-block">
    <div class="left-side">
      <img src="assets/pictures/repair.jpg" alt="vente voiture" class="home-pictures" />
    </div>
    <div class="right-side main-side">
      <h1>Prennez soin de votre véhicule avec nous</h1>
      <p style="margin: 0">Services de réparation et d'entretien</p>
      <p style="margin: 0">Services de diagnostic</p>
      <p style="margin: 0">Services de carrosserie et de peinture</p>
      <p style="margin: 0">Services administratifs</p>
      <a style="margin-top: 18px" mat-raised-button [routerLink]="'/services'">Tous les services</a>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="presentation-block review-block">
    <div class="global-review">
      <h1 class="title">Nos clients témoignent</h1>
      <app-score [score]="reviewStats.averageScore" [fontSize]="36" class="global-score" />
      <span class="global-total"> {{ reviewStats.averageScore }}/5 sur {{ reviewStats.amount }} avis</span>
    </div>
    <div class="review-list">
      <div class="container" *ngFor="let review of lastReviews">
        <div class="heading">
          <span class="title">{{ review.name }} ({{ review.createdAt | date : 'fullDate' }})</span>
          <app-score [score]="review.score" class="score"></app-score>
        </div>
        <div class="mat-elevation-z2 comment">{{ review.comment }}</div>
      </div>
    </div>
    <button mat-raised-button class="review-button" (click)="createReview()">Laisser un avis</button>
  </div>
</ng-template>
