<div class="presentation-block">
  <div class="left-side main-side">
    <h1>Prennez soin de votre véhicule avec nous</h1>
  </div>
  <div class="right-side">
    <img src="assets/pictures/repair.jpeg" alt="vente voiture" class="home-pictures" />
  </div>
</div>

<mat-divider></mat-divider>

<div class="service-container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let theme of themes">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ themeMapping[theme] }} </mat-panel-title>
        <mat-panel-description> Cliquez pour découvrir nos services </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let service of groupedServices[theme]" (mouseenter)="hoverId = service.id" (mouseleave)="hoverId = null" class="service-line">
        <span class="service-name">{{ service.name }}</span>
        <span class="service-price">prix indicatif: {{ service.price }}€</span>
        <button [ngStyle]="service.id === hoverId ? {} : { visibility: 'hidden' }" mat-flat-button class="service-buy-btn" (click)="buy(service)">
          Contacter nous
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
