:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  .heading {
    display: flex;
    margin-bottom: 12px;

    .create-btn {
      display: block;
      margin-left: auto;
    }
  }

  .user-management-container {
    background-color: #F2E9E4CC;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    min-width: 85%;
    max-width: 92%;
    margin-bottom: 28px;
    padding: 32px;
    overflow: hidden;
  }

  .table-container,
  .paginator {
    background-color: #F2E9E4CC;
  }
}

.delete-btn-icon {
  color: red;
}
