:host {
  display: block;
  height: calc(100% - 48px);
  width: 100%;

  .side-nav-container {
    display: block;
    height: 100%;
    width: 100%;
  }

  .side-nav {
    width: 80px;

    .nav-item {
      align-items: center;
      color: rgba(0 0 0 60%);
      display: flex;
      flex-direction: column;
      height: 80px;
      justify-content: center;

      &.active {
        background: rgba(200 200 200 50%);
        color: #3f51b5;
      }

      &:hover {
        background: rgba(220 220 220 50%);
      }
    }

    .nav-icon {
      display: inline;
    }
  }

  .side-nav-content {
    padding: 12px;
    border-right: 1px solid rgba(200 200 200 50%);
    border-top: 1px solid rgba(200 200 200 50%);
  }
}
